celery==5.4.0
fastapi==0.110.2
fastapi_cache==0.1.0
Pillow==9.0.1
Pillow==10.3.0
pytesseract==0.3.10
python-dotenv==1.0.1
redis==5.0.3
SQLAlchemy==2.0.29
setuptools
billiard
click
click-didyoumean
click-plugins
click-repl
kombu
python-dateutil
tzdata
vine